.contactContainer{
    width: 100%;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-around;
    border: 2px solid blueviolet;
    border-radius: 6px;
    background-color: aliceblue;
}

.list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p{
    margin: 0;
}

.textName{
    font-size: 12px;
}

.textNameOptions{
    width: 40px;
    background-color: rgb(170, 208, 168);
    border: 2px solid rgb(56, 75, 185);
    border-radius: 3px;
    text-align: center;
}

.button{
    width: 80px;
    height: 24px;
    margin-left: 12px;
    background-color: rgb(180, 180, 240);
    border: 2px solid rgb(79, 79, 246);
    border-radius: 5px;
}