.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.contactContainer{
    display: flex;
    flex-direction: row; 
    align-items: center;
    border: 2px solid blueviolet;
    border-radius: 6px;
    padding: 8px;
    background-color: aliceblue;
}

.list{
    margin: 0;padding: 0;
    list-style-type: none;
}

p{
    margin: 0;
}

.button{
    width: 80px;
    height: 24px;
    margin-left: 12px;
    background-color: rgb(180, 180, 240);
    border: 2px solid rgb(79, 79, 246);
    border-radius: 5px;
}